@page
@using Marain.Tenancy.Client.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var tenant = ViewData["tenants"] as Tenant;
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @{
        foreach (var t in tenant._links)
        {
            <text>@t.Value<br/></text>
        }
    }
</div>
